*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header-container{
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap;
    margin: 40px;
}
.timer{
    border: solid black 3px;
    padding: 15px;
    border-radius: 15px;
}
.container{
    position: relative;
    display: flex;


}
#question-container, .start{
    position: absolute;
    top:50%;
    left: 40%;


}

.hide{
    display: none;
}
button, .startBtn{
display:block;
padding: 10px;
margin: 10px;
width: 150px;
background-color: blueviolet;
color: cornsilk;
border-radius: 25%;
}
.selected-answer{
    margin-top:30px;
};
.end-game{
position: relative;

}
.result{
    position: absolute;
    top:30%;
    left: 40%;
}
.scoreBoard{
    position: relative;

}
.form {
    position: absolute;
    top:50%;
    left: 40%;
}
.choice{
    display: block;
}