*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header-container{
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap;
    margin: 40px;
}
.timer{
    border: solid black 3px;
    padding: 15px;
    border-radius: 15px;
}
.container{
    position: relative;
    display: flex;

}
#question-container, .start{
    position: absolute;
    top:50%;
    left: 30%;
}

.hide{
    display: none;
}
button, .startBtn{
display:block;
padding: 10px;
margin: 10px;
width: 150px;
}
.selected-answer{
    margin-top:30px;
};
.result p {
padding-left: 100px;
}