*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
p {
    font-size: 30px;
}


.header-container{
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap;
    margin: 34px;
}
.timer{
    border: solid black 3px;
    padding: 15px;
    border-radius: 15px;
}
.container{
    position: relative;
    display: flex;


}
#question-container, .start{
    position: absolute;
    top:10%;
    left: 40%;

    padding: 50px;


}

.hide{
    display: none;
}
button, .startBtn{
display:block;
padding: 10px;
margin: 10px;
width: 150px;

background-color:darkblue;
color: cornsilk;
border-radius: 10%;
}
button:hover, .startBtn:hover{
    display:block;
    padding: 10px;
    margin: 10px;
    width: 150px;
    
    background-color:rgb(182, 64, 182);
    color: white;
    border-radius: 10%;
    }
.selected-answer{
    margin-top:30px;
    width: 100%;
    margin: auto;
    margin-top: 30px;
    text-align: left;
    padding-top: 10px;
    border-top: solid black 1px;

};
.end-game{
position: relative;


}
.result{
    position: absolute;
    padding: 20px;
    top:15%;
    left: 40%;



}
.scoreBoard{
    position: relative;
}
.form {
    position: absolute;
    top:100px;
    left: 45%;
    margin-top: 30px;
}
.choice{
    display: block;
}
.scoreList{
    position: relative;
    width: 20%;
    margin-top: 10px;
    margin-left: 5%;


}
.re-start, .loc-clear {
    display: inline;
}
.re-start, .loc-clear:hover {
    display: inline;
}
.btn-des {
    display: flex;
}
.highScoresTable{

    top:30%;
    width: 30%;
    margin:auto;
    padding-top: 50px;

}
.list{
    margin: 20px;

}
a{
    text-decoration: none;
    
}